@model CreateProductDto
@{
    ViewData["Title"] = "CreateProduct";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <br />
                <h2>Yeni Ürün Ekleme Sayfası</h2>
            </div>
            <div class="card-body">
                <div class="basic-form text-muted">
                    <form method="post">
                        <label>Resim</label>
                        <input type="text" asp-for="ImageUrl" class="form-control" />
                        <br />
                        <label>Ürün Adı</label>
                        <input type="text" asp-for="ProductName" class="form-control" />
                        <br />
                        <label>Ürün Fiyat</label>
                        <input type="text" asp-for="Price" class="form-control" />
                        <br />
                        <label>Ürün Açıklama</label>
                        <input type="text" asp-for="Description" class="form-control" />
                        <br />
                        <lable>Ürün Kategori</lable>
                        <select asp-for="CategoryId" asp-items="@ViewBag.category" class="form-control">
                            <option>Kategori Seçin</option>
                        </select>
                        <br />
                        <button class="btn btn-primary">Ürünü Kaydet</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


