@model UpdateTestimonialDto
@{
    ViewData["Title"] = "UpdateTestimonial";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <br />
                <h1> Referans Güncelleme Sayfası </h1>
            </div>
            <div class="card-body">
                <div class="basic-form text-muted">
                    <form method="post">
                        <input type="hidden" class="form-control" asp-for="TestimonialId" />
                        <label>Ad Soyad</label>
                        <input type="text" class="form-control" asp-for="Name" />
                        <br />
                        <label>Resim Ekleyin</label>
                        <input type="text" class="form-control" asp-for="ImageUrl" />
                        <br />
                        <label>Yorum</label>
                        <textarea type="text" rows="3" class="form-control" asp-for="Comment"></textarea>
                        <br />
                        <label>Puan (0 - 5)</label>
                        <input type="text" class="form-control" asp-for="Point" />
                        <br />
                        <button class="btn btn-outline-primary"><i class="fa fa-edit"></i> Güncelle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

