@model CreateCheffDto
@{
    ViewData["Title"] = "CreateCheff";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <br />
                <h2>Şef Ekleme Sayfası</h2>
            </div>
            <div class="card-body">
                <div class="basic-form">
                    <form method="post">
                        <label>Ad Soyad</label>
                        <input type="text" class="form-control" asp-for="CheffName" />
                        <br />
                        <label>Ünvan</label>
                        <input type="text" class="form-control" asp-for="Title" />
                        <br />
                        <label>Resim Ekleyin</label>
                        <input type="text" class="form-control" asp-for="ImageUrl" />
                        <br /> 
                        <button class="btn btn-outline-primary"><i class="fa fa-pencil"></i> Kaydet</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

