
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_AdminHeadComponentPartial")

<body>
    @await Component.InvokeAsync("_AdminPreLoaderComponentPartial")

    <div id="main-wrapper">      

        @await Component.InvokeAsync("_AdminNavbarComponentPartial")

        @await Component.InvokeAsync("_AdminSidebarComponentPartial")

        @RenderBody()

        @await Component.InvokeAsync("_AdminFooterComponentPartial")

    </div>

    @await Component.InvokeAsync("_AdminScriptComponentPartial")

</body>

</html>
