<!-- Book Us Start -->
@model CreateBookingDto
<div class="container-fluid contact py-6 wow bounceInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row g-0">
            <div class="col-1">
                <img src="~/CaterServ-1.0.0/img/background-site.jpg" class="img-fluid h-100 w-100 rounded-start" style="object-fit: cover; opacity: 0.7;" alt="">
            </div>
            <div class="col-10">
                <div class="border-bottom border-top border-primary bg-light py-5 px-4">
                    <div class="text-center">
                        <small class="d-inline-block fw-bold text-dark text-uppercase bg-light border border-primary rounded-pill px-4 py-1 mb-3">Rezervasyon</small>
                        <h1 class="display-5 mb-5">Etkinlik Rezervasyonu Oluşturun !</h1>
                    </div>

                    <form method="post" asp-action="AddBooking" asp-controller="Default">
                        <div class="row g-4 form">

                            <div class="col-lg-4 col-md-6">
                                <input type="text" class="form-control border-primary p-2" placeholder="İl" asp-for="City" />
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <input type="text" class="form-control border-primary p-2" placeholder="İlçe" asp-for="District" />
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <input type="text" class="form-control border-primary p-2" placeholder="Mahalle" asp-for="Neighbourhood" />
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <input type="text" class="form-control border-primary p-2" placeholder="Ad Soyad" asp-for="NameSurname" />
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <input type="mobile" class="form-control border-primary p-2" placeholder="Telefon Numaranız" asp-for="Phone" />
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <input type="email" class="form-control border-primary p-2" placeholder="Email" asp-for="Email" />
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <input type="date" class="form-control border-primary p-2" placeholder="Tarih seçiniz" asp-for="Date" /> 
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <input type="text" class="form-control" placeholder="Kişi Sayısı" asp-for="PersonCount" />
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <select asp-items="@ViewBag.eventcategory" asp-for="EventCategoryId" class="form-select border-primary p-2" aria-label="Default select example">
                                    <option>Etkinlik Kategorisi</option>

                                </select>
                            </div>
                            

                            <div class="col-12 text-center">
                                <button type="submit" onclick="AddBooking()" class="btn btn-primary px-5 py-3 rounded-pill">Rezervasyon Oluştur</button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
            <div class="col-1">
                <img src="~/CaterServ-1.0.0/img/background-site.jpg" class="img-fluid h-100 w-100 rounded-end" style="object-fit: cover; opacity: 0.7;" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Book Us End -->
