@model CreateEventCategoryDto
@{
    ViewData["Title"] = "CreateEventCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h2>Yeni Kategori Ekleme Sayfası</h2>
            </div>
            <div class="card-body">
                <div class="basic-form">
                    <form method="post">
                        <label>Kategori Adı</label>
                        <input type="text" class="form-control" asp-for="CategoryName" />
                        <br />
                        <button class="btn btn-outline-primary"><i class="fa fa-pencil"></i> Kaydet</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

