@model UpdateEventDto
@{
    ViewData["Title"] = "UpdateEvent";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <br />
                <h4>Etkinlik Güncelleme Sayfası</h4>
            </div>
            <div class="card-body">
                <div class="basic-form text-muted">
                    <form method="post">
                        <input type="hidden" class="form-control" asp-for="EventId" />  
                        <label>Görsel</label>
                        <input type="text" class="form-control" asp-for="ImageUrl" />
                        <br />
                        <label>Etkinlik Kategorisi</label>
                        <select type="text" class="form-control" asp-items="ViewBag.EventCategoryList" asp-for="EventCategoryId"></select>
                        <br />
                        <br />
                        <button class="btn btn-outline-primary"><i class="fa fa-edit"></i> Güncelle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

