@model UpdateAboutDto
@{
    ViewData["Title"] = "UpdateAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <br />
                <h1> Hakkımızda Güncelleme Sayfası </h1>
            </div>
            <div class="card-body">
                <div class="basic-form text-muted">
                    <form method="post">
                        <input type="hidden" class="form-control" asp-for="AboutId" />
                        <label>Başlık</label>
                        <input type="text" class="form-control" asp-for="Title" />
                        <br />
                        <label>Resim Ekleyin</label>
                        <input type="text" class="form-control" asp-for="ImageUrl" />
                        <br />
                        <label>Açıklama</label>
                        <textarea type="text" rows="5" class="form-control" asp-for="Description"></textarea>
                        <br />
                        <label>1. Özellik</label>
                        <input type="text" class="form-control" asp-for="Value1" />
                        <br />
                        <label>2. Özellik</label>
                        <input type="text" class="form-control" asp-for="Value2" />
                        <br />
                        <label>3. Özellik</label>
                        <input type="text" class="form-control" asp-for="Value3" />
                        <br />
                        <label>4. Özellik</label>
                        <input type="text" class="form-control" asp-for="Value4" />
                        <br />
                        <button class="btn btn-outline-primary"><i class="fa fa-edit"></i> Güncelle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

